<div class="selected-exercises">
    <div class="selected-exercises-heading">Selected Exercise</div>
    <div *ngFor="let image of selectedExerciseImages" >
        <div class="each-image-info">
            {{image.name}}
        </div>
    </div>
</div>

