.selected-exercises {
    text-align: center;
    margin: 10px 5px;
    border: 1px solid black;
}

.selected-exercises-heading {
    background-color: gainsboro;
    margin: 0 0 15px 0;
}

.each-image-info {
    border: 1px solid black;
    margin: 5px;
}