.exercise-box {
  background-image: url("/assets/images/test1.jpg");
  cursor: pointer;
  width: 80px;
  height: 98px;
  display: inline-block;
  border: 1px solid white;
  
} 

.exercise-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 515px;
  overflow: auto;
  background-repeat: no-repeat;
} 

.exercise-container0 {
  background-image: url("/assets/images/test1.jpg");
  display: none; 
}
