/* .images {
    float: left;
    width: 100%;
    border: 2px solid red;
}

.images-collapse {
    float: left;
    width: 70%;
    border: 2px solid green;
}

.output-selected-exercise {
    float: left;
    width: 30%;
    border: 1px solid black;
}

.image {
    float: left;
    margin: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.each-images:hover {
    background-color: blue;
}

.selected-image {
    background-color: black;
    color: white;
}

.output-selected-exercise-heading {
    background-color: gainsboro;
    cursor: pointer;
}

.download-report {
    text-align: center;
    margin: 10px 5px;
    border: 1px solid black;
}

.pdf-download-image {
    height: 50px;
}

.download-options-heading {
    background-color: gainsboro;
    margin: 0 0 15px 0;
} */