<!-- <div class="images" [class.images-collapse]="enableOutputOfSelectedExercises">
    <ng-container *ngFor="let image of images">
        <div class="image" [class.selected-image]="isImageSelected(image)">
            <a class="each-image" (click)="showSelectedImageOutput(image)">{{image.name}}</a>
        </div>
    </ng-container>   
</div>
<div class="output-selected-exercise" *ngIf="enableOutputOfSelectedExercises">
    <a (click)="outputOfSelectedImageShowOrHide()">
        <div class="output-selected-exercise-heading"> 
            Output Selected Exercise    
        </div>
    </a>

    <div *ngIf="enableImageOutputShow">
        <div class="download-report">
            <div class="download-options-heading">Quick options</div>
            <a (click)="downloadReportPdf()"><img class="pdf-download-image" src="assets/images/pdfDownload.png"></a>
        </div>
        <app-selected-exercise-report [selectedExerciseImages]="selectedExerciseImages" #content></app-selected-exercise-report>
    </div>
    
</div> -->

<div class="exercise-container0"></div>
<div class="exercise-container"></div>
