.collapse {
    background-color: white;
    padding: 10px 20px;
    color: black;
    font-size: 12px;
    height: 200px;
    overflow: auto;
}

.heading {
    margin-bottom: 10px;
}

.label-width {
    width: 130px;
}

.margin-right-8px {
    margin-right: 8px;
}

.search-items {
    margin-top: 15px;
    padding-left: 15px;
}
