<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Demo Project</h3>
    </div>

    <ul class="list-unstyled components">
        
        <li>
            <a href="#search" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Search</a>
            <ul class="collapse list-unstyled" id="search">
                <input class="form-control mr-sm-2" type="text" [(ngModel)]="searchText" (ngModelChange)="getSearchText($event)" placeholder="Search" aria-label="Search">
                <ul class="search-items">
                    <li *ngIf="haveCondition">Condition is {{condition}}</li>
                    <li *ngIf="haveExerciseDifficulty">
                        Exercise difficulty is  
                        <ng-container *ngFor="let ed of exerciseDifficulty; let index = index" >
                            <span *ngIf="index >= 1">or</span> {{ed}} 
                        </ng-container>
                    </li>
                    <li *ngIf="haveEquipmentAvailable" >
                        Equipment Available is  
                        <ng-container *ngFor="let ea of equipmentAvailable; let index = index" >
                            <span *ngIf="index >= 1">or</span> {{ea}} 
                        </ng-container>
                    </li>
                    <li *ngIf="haveExerciseType" >
                        Exercise Type is  
                        <ng-container *ngFor="let et of exerciseType; let index = index" >
                            <span *ngIf="index >= 1">or</span> {{et}} 
                        </ng-container>
                    </li>
                    <li *ngIf="haveBodyPart" >
                        Body Part is  
                        <ng-container *ngFor="let bp of bodyPart; let index = index" >
                            <span *ngIf="index >= 1">or</span> {{bp}} 
                        </ng-container>
                    </li>
                    <li *ngIf="haveAgeCategory">Age category is {{ageCategory}}</li>

                </ul>
            </ul>
        </li>
        <li>
            <a href="#condition" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Condition</a>
            
            <ul class="collapse list-unstyled" id="condition">
                <div class="heading">Spinal Cord Injury</div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="C1-C4 Tetraplegia">
                    <label class="label-width">C1-C4 Tetraplegia</label>
                    <span class="float-right">10</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="C5 Tetraplegia">
                    <label class="label-width">C5 Tetraplegia</label>
                    <span class="float-right">20</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="C6 Tetraplegia">
                    <label class="label-width">C6 Tetraplegia</label>
                    <span class="float-right">20</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="C7-C8 Tetraplegia">
                    <label class="label-width">C7-C8 Tetraplegia</label>
                    <span class="float-right">20</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="T1-L1 Paraplegia">
                    <label class="label-width">T1-L1 Paraplegia</label>
                    <span class="float-right">20</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="L2-S1 Paraplegia">
                    <label class="label-width">L2-S1 Paraplegia</label>
                    <span class="float-right">20</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="Motor incomplete SCI">
                    <label class="label-width">Motor incomplete SCI</label>
                    <span class="float-right">20</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="Stroke">
                    <label class="label-width">Stroke</label>
                    <span class="float-right">20</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="Motor delay">
                    <label class="label-width">Motor delay</label>
                    <span class="float-right">20</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getCondition($event)" name="condition" value="Aged">
                    <label class="label-width">Aged</label>
                    <span class="float-right">20</span>
                </div>
                
            </ul>
        </li>
        <li>
            <a href="#exerciseDifficulty" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Exercise Difficulty</a>
            <ul class="collapse list-unstyled" id="exerciseDifficulty">
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseDifficulty($event)" name="exerciseDifficultyLow" value="low">
                    <label class="label-width">Low</label>
                    <span class="float-right">10</span>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseDifficulty($event)" name="exerciseDifficultyMedium" value="medium">
                    <label class="label-width">Medium</label>
                    <span class="float-right">20</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseDifficulty($event)" name="exerciseDifficultyHigh" value="high">
                    <label class="label-width">High</label>
                    <span class="float-right">30</span><br>
                </div>
                
            </ul>
        </li>
        <li>
            <a href="#equipmentAvailable" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Equipment available</a>
            <ul class="collapse list-unstyled" id="equipmentAvailable">
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="freeWeight" value="Free weight">
                    <label class="label-width">Free weight</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="weightsMachine" value="Weights machine">
                    <label class="label-width">Weights machine</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="theraband" value="Theraband">
                    <label class="label-width">Theraband</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="stepOrBlock" value="stepOrBlock">
                    <label class="label-width">Step/Block</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="splints" value="splints">
                    <label class="label-width">Splints</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="plinth" value="plinth">
                    <label class="label-width">Plinth</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="stoolOrChair" value="stoolOrChair">
                    <label class="label-width">Stool/Chair</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="electricalStimulator" value="electricalStimulator">
                    <label class="label-width">Electrical stimulator</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="targets" value="targets">
                    <label class="label-width">Targets</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getEquipmentAvailable($event)" name="visualcues" value="visualcues">
                    <label class="label-width">Visual cues</label>
                    <span class="float-right">10</span><br>
                </div>
                
            </ul>
        </li>
        <li>
            <a href="#exerciseType" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Exercise Type</a>
            <ul class="collapse list-unstyled" id="exerciseType">
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Stretching rom" >
                    <label class="label-width">Stretching rom</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Fitness training">
                    <label class="label-width">Fitness training</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Strength training">
                    <label class="label-width">Strength training</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Control exercise">
                    <label class="label-width">Control exercise</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Amplitude exercise">
                    <label class="label-width">Amplitude exercise</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Clearing secretion">
                    <label class="label-width">Clearing secretion</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Manipulating objects">
                    <label class="label-width">Manipulating objects</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Reaching for objects">
                    <label class="label-width">Reaching for objects</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Moving about bed/floor">
                    <label class="label-width">Moving about bed/floor</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getExerciseType($event)" name="" value="Moving from lying to sitting">
                    <label class="label-width">Moving from lying to sitting</label>
                    <span class="float-right">10</span><br>
                </div>
                
            </ul>
        </li>
        <li>
            <a href="#bodyPart" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Body parts</a>
            <ul class="collapse list-unstyled" id="bodyPart">
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Head/Neck">
                    <label class="label-width">Head/Neck</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Shoulder/Upper arm">
                    <label class="label-width">Shoulder/Upper arm</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Elbow/Forearm">
                    <label class="label-width">Elbow/Forearm</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Wrist/Hand">
                    <label class="label-width">Wrist/Hand</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Trunk/Back">
                    <label class="label-width">Trunk/Back</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Hip/Thigh">
                    <label class="label-width">Hip/Thigh</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Knee/Lower leg">
                    <label class="label-width">Knee/Lower leg</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Ankle/Foot">
                    <label class="label-width">Ankle/Foot</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getBodyPart($event)" name="" value="Whole body">
                    <label class="label-width">Whole body</label>
                    <span class="float-right">10</span><br>
                </div>
                
            </ul>
        </li>
        <li>
            <a href="#ageCategory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Age Category</a>
            <ul class="collapse list-unstyled" id="ageCategory">
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getAgeCategory($event)" name="ageCategory" value="Infant/Young child">
                    <label class="label-width">Infant/Young child</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getAgeCategory($event)" name="ageCategory" value="Child">
                    <label class="label-width">Child</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getAgeCategory($event)" name="ageCategory" value="Adult">
                    <label class="label-width">Adult</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getAgeCategory($event)" name="ageCategory" value="Senior">
                    <label class="label-width">Senior</label>
                    <span class="float-right">10</span><br>
                </div>
                
            </ul>
        </li>
        <li>
            <a href="#imageOrientation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Image orientation</a>
            <ul class="collapse list-unstyled" id="imageOrientation">
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getImageOrientation($event)" name="imageOrientation" value="Not specified">
                    <label class="label-width">Not specified</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getImageOrientation($event)" name="imageOrientation" value="Left affected">
                    <label class="label-width">Left affected</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="radio" (change)="getImageOrientation($event)" name="imageOrientation" value="Right affected">
                    <label class="label-width">Right affected</label>
                    <span class="float-right">10</span><br>
                </div>
                
            </ul>
        </li>
        <li>
            <a href="#selectTextToDisplayWithExerciseImage" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Select text to display with exercise image</a>
            <ul class="collapse list-unstyled" id="selectTextToDisplayWithExerciseImage">
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getSelectTextToDisplayWithExerciseImage($event)" name="" value="therapistsAim">
                    <label class="label-width">Therapist's aim</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getSelectTextToDisplayWithExerciseImage($event)" name="" value="clientsAim">
                    <label class="label-width">Client's aim</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getSelectTextToDisplayWithExerciseImage($event)" name="" value="therapistsInstruction">
                    <label class="label-width">Therapist's instruction</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getSelectTextToDisplayWithExerciseImage($event)" name="" value="clientsInstruction">
                    <label class="label-width">Client's instruction</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getSelectTextToDisplayWithExerciseImage($event)" name="" value="progressionsAndVariations">
                    <label class="label-width">Progressions and variations</label>
                    <span class="float-right">10</span><br>
                </div>
                <div>
                    <input class="margin-right-8px float-left" type="checkbox" (change)="getSelectTextToDisplayWithExerciseImage($event)" name="" value="precautions">
                    <label class="label-width">Precautions</label>
                    <span class="float-right">10</span><br>
                </div>
                
            </ul>
        </li>
    </ul>

</nav>